.parcel-container {
  max-height: 50rem;
  width: 40%;
  height: 50rem;
}

.parcel-circle {
  border-radius: 50%;
  margin-top: 20%;
  width: 100px;
  height: 100%;
  background: #01a7a7;
  border: 2px solid red;
  box-shadow: -6px 0px 13px 0px rgba(0, 0, 0, 0.75);
}

.parcel-circle-container:hover {
  margin-left: 100%;
}

.moveable {
  animation-name: moveme;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.offset {
  margin-left: 20%;
}

.parcel-circle-container {
    width: 100%;
    height: 100px;
}

.parcel-main {
  height: 100%;
  display: flex;
}
.parcel-left {
  width: 35%;
  height: 100%;
  left: 0;
}
.parcel-right {
  height: 100%;
  width: 50%;
  right: 0;
}

.parcel-divider {
  position: relative;
  height: 70%;
  width: 1;
  border-left: 0.2rem solid grey;
  box-shadow: -31px 0px 22px 0px rgba(0, 0, 0, 0.75);
}

.parcel-divider-line {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  height: 100%;
  width: 100%;
}

@keyframes moveme {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-15px, 0px);
  }
  100% {
    transform: translate(15px, 0px);
  }
}
