.event__list-item {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #01a7a7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event__list-item h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #01a7a7;
}

.event__list-item h2 {
  margin: 0;
  font-size: 1rem;
  color: rgb(194, 194, 194);
}

.event__list-item p {
    margin:0;
}